.card-meta {
    font-size: 0.8em;
    color: grey;
}

body {
    font-family: Arial, sans-serif;
}

/* Add your custom styles here */
/* Example: */
.header-image {
    background-image: url('https://cdn.pixabay.com/photo/2016/02/27/18/07/clover-1225988_640.jpg');
    height: 300px;
    background-size: cover;
}

.welcome, .free-products, .news, .messages {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}
